# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
*.env

# Node / React
node_modules/
dist/
build/
.parcel-cache/
.next/
coverage/
*.log

# Flask
instance/
.webassets-cache

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Temp files
*.log
temp/
uploads/
